* {
    --first-color: #ffcece;
    --second-color: #ffc1c8;
    --third-color: #ffe3b0;
    --fourth-color: #8ed6ff;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-container {
    height: min-content;
    width: min-content;
    min-width: 100vw;
    min-height: 100vh;
    background-color: var(--first-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vh 0;
    gap: 1rem;
}

.display-container {
    width: 25rem;
    height: 50rem;
    margin-left: 10vw;
    padding: 2rem;
    background-color: var(--fourth-color);
    border-radius: 50px;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    .score-counter {
        background-color: var(--second-color);
        padding: 1rem;
        border-radius: 50px;
    }

    #player1-label, #player2-label {
        text-align: center;
    }

    #player1-score, #player2-score {
        text-align: center;
        font-size: 4rem;
    }

    .button-container {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-top: auto;
        margin-bottom: 1rem;

        button {
            width: 50%;
            padding: 2rem;
            font-size: 1.5rem;
            font-weight: bold;
            background-color: var(--third-color);
            border: none;
            border-radius: 500px;
        }
        button:hover {
            outline: 5px solid var(--third-color);
            background-color: inherit;
            color: white;
        }
    }
}

.container {
    width: 50rem;
    height: 50rem;
    margin-right: 10vw;
    padding: 3rem;
    background-color: var(--third-color);
    border-radius: 50px;
    flex-shrink: 0;
}

.grid-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    .grid-cell {
        outline: 1px solid rgba(0, 0, 0, 0.3);
        display: flex;        
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 8rem;
    }
    .grid-cell:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }
}

.cell-hover {
    color: white;
}

button {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}



.win-screen, .rename-screen {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;

    p, .name-input, span {
        padding: 2rem;
        font-size: 4rem;
        font-weight: bold;
        text-align: center;
        background-color: white;
        border-radius: 100px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    }
    .name-input{
        padding: 3rem;
        width: 50rem;
        font-size: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;
    }
    button {
        width: fit-content;
        padding: 2rem;
        font-size: 1.5rem;
        font-weight: bold;
        background-color: var(--fourth-color);
        border: none;
        border-radius: 500px;
    }
    button:hover {
        outline: 5px solid var(--fourth-color);
        background-color: inherit;
        color: white;
    }
}


.hidden {
    display: none;
}
